/**
 * Forms
 */
input.ng-invalid.ng-dirty {
	background-color: pink;
}

/**
 * Voting Buttons
 */
.votingWidget { text-align: center; }
.votingButton .glyphicon.glyphicon-chevron-up {
	color: red;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none;
}

