.user{
  margin:3px;
  display : inline-block;
  border-right:1px solid #ccc;
  padding:3px;
}

.playtime{
  display : inline-block;
  padding:3px;
  text-align : center;
  width:50px;
}

.navbar{
  height : 8vh;
  min-height : 8vh;
  margin:0;
}

#map {
  width:100vw;
  height:90vh;
  margin-top:8vh;
}
