<table class='table table-hover table-bordered'>
    <div ng-controller="Game">
        {{Refresh()}}
        <leaflet  height="85vh" width="100vw" style="position:absolute;left:0;"
                 center="center" markers="posMarker" paths="posPath"></leaflet>
        <span>Identify Yoursef:</span>
        <input type="text" class="form-control" ng-model="deviceData.gamerId">
        <span>What's your team:</span>
        <input type="text"  class="form-control" ng-model="deviceData.teamId">
        <br/>
        <span>YourScore: {{myScore}}, last reading: {{deviceData.lastreading | date:'dd/MM/yyyy HH:mm:ss'}}, Online Players: {{playerCount}} </span>
        <br/>
    </div>
</table>
