<table class='table table-hover table-bordered'>
    <div ng-controller="Game">
        <h4>{{msg}}</h4>
        {{Refresh()}}
        <span>Identify Yoursef:</span>
        <input type="text" class="form-control" ng-model="deviceData.gamerId">
        <span>What's your team:</span>
        <input type="text"  class="form-control" ng-model="deviceData.teamId">
        <br/>
        <span>YourScore:{{myScore}}, last reading: {{deviceData.lastreading | date:'dd/MM/yyyy HH:mm:ss'}} </span>
        <br/>
        <leaflet  height="{{mapheight()}}px" width="{{mapwidth()}}px" 
                 center="center" markers="posMarker" paths="posPath"></leaflet>
    </div>
</table>